{{define "nav"}}
<aside class="sidebar">
    <div class="logo">GoBI</div>
    <ul class="nav-links">
        <li><a href="/" class="nav-link"><i class="fas fa-chart-line"></i> Dashboard</a></li>
        <li><a href="/reports" class="nav-link"><i class="fas fa-file-invoice"></i> Reports</a></li>
        <li><a href="#" class="nav-link"><i class="fas fa-database"></i> Databases</a></li>
        <li><a href="#" class="nav-link"><i class="fas fa-terminal"></i> SQL Lab</a></li>
        <li><a href="#" class="nav-link"><i class="fas fa-cog"></i> Settings</a></li>
    </ul>
</aside>
{{end}}